body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2e2e2e;
    color: white;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form{
    color: #2e2e2e;
    border-radius: 10px;
    background-color: white;
    width: 40%;
    height: 60%;
}
.center{
    text-align: center;
}
#buttonOne{
    width: 80px;
    height: 30px;
    margin: 20px;
}
#buttonTwo{
    height: 30px;
}
.inputs{
    height: 5vh;
}
a{
    text-decoration: none;
    color: black;
}
button:hover{
    color: white;
}