<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Todo-List</title>
</head>
<body>
    <div class="container">
        <form id="form" action="/createtask" method="post">
            <h1 class="center">Todo-List</h1>
            <div class="center">
                <h2>Tarefa</h2>
                <input class="inputs" type="text" placeholder="Digite o nome da Tarefa" name="tarefa">
            </div>
            <div class="center">
                <h2>Descrição</h2>
                <input class="inputs" type="text" placeholder="Digite o nome da Tarefa" name="descricao">
            </div>
            <div class="center">
                <button id="buttonOne">Cadastrar</button>
                <button id="buttonTwo"><a href="/showtask">Mostrar Tarefas</a></button>
            </div>
        </form>
        
    </div>
</body>
</html>